html, body {
  margin: 0;
  padding: 0;
  color: #333333;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

.main {
  position: relative;
  top: 30px;
  text-align: center;
  margin-bottom: 40px;
  width: 100%;
}

.main h1 {
  font-weight: 600;
  font-size: 65px;
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.time-input {
  padding: 10px;
}

#btn-start {
  border-style: solid;
  border-width: 1px;
  border-color: #333333;
  border-radius: 5px;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1.3px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;  
  display: inline;
  margin: 0px 0px 20px 20px; 
  background-color: #9AD78D; 
}

#btn-restart {
  border-style: solid;
  border-width: 1px;
  border-color: #333333;
  border-radius: 5px;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1.3px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-transform: uppercase;  
  display: inline;
  margin: 0px 0px 20px 20px; 
  background-color: #FF953D;
}

.timer-area {
  display: none;
  color: #333333;
  font-weight: 300;
  font-size: 30px;
  margin-top: 0;
  text-transform: uppercase;
}

.scores {
  margin: auto;
  padding-top: 16px;
  height: 30px;
  width: 300px;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  border-color: #333333;
}

.scores ul {
  margin: 0 auto;
  padding: 0px;
}

.scores li {
  color: #333;
  font-size: 20;
  font-weight: 600;
  display: inline;
  float: left;
  width: 33%;
  text-align: center;
}

.scores .w {
  color: #6FB560;
}

.scores .l {
  color: #F47811;
}

.scores .d {
  color: #5494C6;
}

.ten-sec {
  display: none;
  margin: auto;
  margin-bottom: 20px;
  background-color: red;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: red;
  border-radius: 3px;
  width: 200px;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1.3px;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;  
}

.btn-choose {
  border-style: solid;
  border-width: 1px;
  border-color: #333333;
  border-radius: 5px;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1.3px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;  
  display: inline-block;
  margin-bottom: 10px;  
  background-color: white;
  width: 130px;    
}

i {
  padding-right: 10px;
}

.supporting {
  padding-top: 40px;
  padding-bottom: 100px;
  position: relative;
  text-align: center;
  width: 100%;
}

.supporting .col {
  text-align: center;
  margin: auto;
  display: inline;
  float: left;
}

.user-display {
  width: 50%;
}

.bot-display {
  width: 50%;
}

.bot-d {
  padding-top: 20px;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: green;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 726px) {
  .top-btns {
    display: block;
    margin-top: 10px;
  }

  #btn-start {
    margin: 5px 10px 10px 0px;
    display: inline;
  }

  #btn-restart {
    margin: 5px 0px 10px 0px;
    display: inline;
  }

  .user-display {
    width: 42%;
  }

  .bot-display {
    width: 58%;
  }
}

@media (max-width: 500px) {
  .main h1 {
    font-size: 40px;
    padding: 0px 30px 0px 30px;
    margin-bottom: 10px;
  }

  .time-input {
    padding: 3px;
    display: block;
  }

  #btn-start {
    margin: 10px 0px 10px 0px;
    display: inline;
  }

  .timer-area {
    font-weight: 300;
    font-size: 20px;
  }

  .scores {
    padding-top: 7px;
    height: 25px;
    width: 300px;
  }

  .ten-sec {
    display: none;
    margin: auto;
    margin-bottom: 12px;
  }

  .supporting {
    padding-top: 20px;
  }
}
